@import url('demo.css');
@import url('font-awesome.css');

/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}

.wrapper-demo {
    margin: 60px 0 0 0;
    *zoom: 1;
  
}

.wrapper-demo:after {
    clear: both;
   
    display: table;
}

/* DEMO 1 */



/* DEMO 2 */
.dropdown{
    color:black;
}

.wrapper-dropdown-2 {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    width: 200px;
    margin: 0 auto;
    padding: 10px 15px;

    /* Styles */
    background: white;
   color: black;
    width:87%;
    border-left: 5px solid grey;
    cursor: pointer;
    outline: none;
    text-align: left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.wrapper-dropdown-2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    color: black;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
    
}

.wrapper-dropdown-2 .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -5px;
    right: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* Styles */
    background: white;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;
    color: black;
    justify-content:left;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-2 .dropdown li a {
    display: block;
    color: black;
    text-decoration: none;
    color: #333;
    border-left: 5px solid;
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-2 .dropdown li:nth-child(1) a { 
    border-left-color: #00ACED;
    color: black;
}

.wrapper-dropdown-2 .dropdown li:nth-child(2) a {
    border-left-color: #4183C4;
    color: black;
    
}

.wrapper-dropdown-2 .dropdown li:nth-child(3) a {
    border-left-color: #3B5998;
    color: black;
}

.wrapper-dropdown-2 .dropdown li i {
    margin-right: 5px;
   color:black;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-2 .dropdown li:nth-child(1) a:hover {
    background-color: rgb(216, 212, 212);
    border-top-right-radius: 10px;

}
.wrapper-dropdown-2 .dropdown li:nth-child(2) a:hover {
    background-color: rgb(216, 212, 212);
    

}
.wrapper-dropdown-2 .dropdown li:nth-child(3) a:hover {
    background-color: rgb(216, 212, 212);
    border-bottom-right-radius: 10px;

}

/* Active state */

.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
   pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown {
    display: block;
}



.wrapper-dropdown-1 {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
   
    margin: 0 auto;
    padding: 10px 15px;

    /* Styles */
    background: white;
   color: black;
    width:87%;
    border-left: 5px solid grey;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.wrapper-dropdown-1:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    color: black;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}

.wrapper-dropdown-1 .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -5px;
    right: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* Styles */
    background: white;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;
    color: black;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-1 .dropdown li a {
    display: block;
    color: black;
    text-decoration: none;
    color: #333;
    border-left: 5px solid;
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-1 .dropdown li:nth-child(1) a { 
    border-left-color: #00ACED;
    color: black;
}

.wrapper-dropdown-1 .dropdown li:nth-child(2) a {
    border-left-color: #4183C4;
    color: black;
    
}

.wrapper-dropdown-1 .dropdown li:nth-child(3) a {
    border-left-color: #3B5998;
    color: black;
}

.wrapper-dropdown-1 .dropdown li i {
    margin-right: 5px;
   color:black;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-1 .dropdown li:nth-child(1) a:hover {
    background-color: rgb(216, 212, 212);
    border-top-right-radius: 10px;

}
.wrapper-dropdown-1 .dropdown li:nth-child(2) a:hover {
    background-color: rgb(216, 212, 212);
    

}
.wrapper-dropdown-1 .dropdown li:nth-child(3) a:hover {
    background-color: rgb(216, 212, 212);
    border-bottom-right-radius: 10px;

}

/* Active state */

.wrapper-dropdown-1.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-1.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
   pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown {
    display: block;
}

